<% content_for :page_title do %>
  <%= Spree.t(:listing_subscriptions) %>
<% end %>

<% render partial: 'spree/admin/shared/subscriptions_sub_menu' %>

<table class="index" id="listing_subscriptions">
  <thead>
    <tr>
      <th><%= sort_link @search, :user, Spree.t(:user, scope: 'activerecord.attributes.spree/subscription') %></th>
      <th><%= sort_link @search, :subscription, Spree.t(:subscription, scope: 'activerecord.attributes.spree/subscription') %></th>
      <th><%= sort_link @search, :remaining_issues, Spree.t(:remaining_issues, scope: 'activerecord.attributes.spree/subscription') %></th>
      <th><%= sort_link @search, :status, Spree.t(:status, scope: 'activerecord.attributes.spree/subscription') %></th>
      <th data-hook="admin_subscriptions_index_header_actions" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr id="<%= spree_dom_id subscription %>" data-hook="admin_subscriptions_index_rows" class="<%= cycle('odd', 'even') %>">
        <td class="align-center spree_subscriptions_table"><%= subscription.user.try(:email) %></td>
        <td class="align-center spree_subscriptions_table"><%= link_to subscription.magazine.name, admin_magazine_issues_path(subscription.magazine) %></td>
        <td class="align-center spree_subscriptions_table"><%= subscription.remaining_issues %></td>
        <td class="align-center spree_subscriptions_table"><%= Spree.t(subscription.state, :scope => 'subscription_state').downcase %></td>
        <td class="actions" data-hook="admin_subscriptions_index_row_actions">
          <%= link_to_edit subscription, no_text: true, class: 'edit' if can?(:edit, subscription)  %>
          &nbsp;
          <%= link_to_delete subscription, no_text: true if can?(:delete, subscription) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @subscriptions %>


<% content_for :sidebar_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :sidebar do %>
  <div class="box" data-hook="admin_subscriptions_index_search">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="field">
        <%= f.label Spree.t(:user_email) %> <br>
        <%= f.text_field :user_email_cont, class: 'fullwidth' %>
      </div>
      <div class="field">
        <%= f.label Spree.t(:magazine_name) %> <br>
        <%= f.text_field :magazine_name_cont, class: 'fullwidth' %>
      </div>
      <div class="field">
        <%= f.label Spree.t(:remaining_issues) %> <br>
        <%= f.number_field :remaining_issues_eq, min: 0, class: 'fullwidth' %>
      </div>
      <div class="field">
        <%= f.check_box :complimentary_true %>
        <%= f.label Spree.t(:complimentary) %>
      </div>
      <div class="field">
        <%= f.label Spree.t(:ship_address) %> <br>
        <%= Spree.t(:first_name) %><br/>
        <%= f.text_field :ship_address_firstname_cont, class: 'fullwidth' %><br/>
        <%= Spree.t(:last_name) %><br/>
        <%= f.text_field :ship_address_lastname_cont, class: 'fullwidth' %><br/>
        <%= Spree.t(:address_1) %><br/>
        <%= f.text_field :ship_address_address1_cont, class: 'fullwidth' %><br/>
        <%= Spree.t(:address_2) %><br/>
        <%= f.text_field :ship_address_address2_cont, class: 'fullwidth' %><br/>
        <%= Spree.t(:city) %><br/>
        <%= f.text_field :ship_address_city_cont, class: 'fullwidth' %><br/>
        <%= Spree.t(:state) %><br/>
        <%= f.text_field :ship_address_state_name_or_ship_address_state_abbr_cont, class: 'fullwidth' %><br/>
        <%= Spree.t(:country) %><br/>
        <%= f.text_field :ship_address_country_name_cont, class: 'fullwidth' %><br/>
        <%= Spree.t(:zipcode) %><br/>
        <%= f.text_field :ship_address_zipcode_eq, class: 'fullwidth' %><br/>
      </div>
      <div class="field">
        <%= f.label Spree.t(:billing_address) %> <br>
        <%= Spree.t(:first_name) %><br/>
        <%= f.text_field :billing_address_firstname_cont, class: 'fullwidth' %><br/>
        <%= Spree.t(:last_name) %><br/>
        <%= f.text_field :billing_address_lastname_cont, class: 'fullwidth' %><br/>
        <%= Spree.t(:address_1) %><br/>
        <%= f.text_field :billing_address_address1_cont, class: 'fullwidth' %><br/>
        <%= Spree.t(:address_2) %><br/>
        <%= f.text_field :billing_address_address2_cont, class: 'fullwidth' %><br/>
        <%= Spree.t(:city) %><br/>
        <%= f.text_field :billing_address_city_cont, class: 'fullwidth' %><br/>
        <%= Spree.t(:state) %><br/>
        <%= f.text_field :billing_address_state_name_or_billing_address_state_abbr_cont, class: 'fullwidth' %><br/>
        <%= Spree.t(:country) %><br/>
        <%= f.text_field :billing_address_country_name_cont, class: 'fullwidth' %><br/>
        <%= Spree.t(:zipcode) %><br/>
        <%= f.text_field :billing_address_zipcode_eq, class: 'fullwidth' %><br/>
      </div>
      <div data-hook="admin_subscriptions_index_search_buttons">
        <%= button Spree.t(:search), 'search' %>
      </div>
    <% end %>
  </div>
<% end %>
